<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a class="page-scroll" href="/">Home</a></li>
            <li>
            <a class="page-scroll" href="/entry/django">Django</a></li>
            <li>
            <a class="page-scroll" href="/entry/python">Python</a></li>
            <li>
            <a class="page-scroll" href="/entry/linux">Linux</a></li>
            <li>
            <a class="page-scroll" href="/entry/mysql">MySQL</a></li>
            <li>
            <a class="page-scroll" href="/entry/mongodb">Mongodb</a></li>
            <li>
            <a class="page-scroll" href="/entry/docker">Docker</a></li>
            <li>
            <a class="page-scroll" href="/entry/life">Life</a>
        </li>
    </ul>
</div>